/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

:root {
  --blue-background: #3F6AA2;
  --blue-hover: #214370;
  --blue-active: #3875c5;
  --red-background: #A23F3F;
  --red-hover: #6B1E1E;
  --red-active: #ca4444;
  --red-text: #FF5858;
  --blue-text: #052B5A;
  --water: #95C5FF;
  --ship: #3E4256;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}

#audio {
  /* outline: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 64px 0; */
}

#menu-btns {
  display: flex;
  gap: 160px;
  /* outline: 1px solid orange; */
}

button {
  font-size: 2.25rem;
  font-weight: 700;
  width: 393px;
  height: 175px;
  border-radius: 24px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

#menu-btns button:nth-child(1) {
  background-color: var(--blue-background, blue);
}

#menu-btns button:nth-child(1):hover {
  background-color: var(--blue-hover, blue);
}

#menu-btns button:nth-child(1):active {
  background-color: var(--blue-active, blue);
}

#menu-btns button:nth-child(2) {
  background-color: var(--red-background, red);
}

#menu-btns button:nth-child(2):hover {
  background-color: var(--red-hover, red);
}

#menu-btns button:nth-child(2):active {
  background-color: var(--red-active, red);
}

#boards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 240px;
}

#setup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  /* outline: 1px solid purple; */
}

#setup-buttons {
  /* outline: 1px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 80px;
}

#setup-buttons button {
  font-size: 1.75rem;
  font-weight: 700;
  width: 300px;
  height: 100px;
  border-radius: 24px;
  background-color: var(--ship, darkslategrey);
}

#setup-buttons button:hover {
  background-color: #292b38;
}

#setup-buttons button:active {
  background-color: #575c72;
}

.gameboard {
  /* outline: 1px solid orange; */
  display: grid;
  grid-auto-rows: 1fr;
  padding: 0 48px 96px 0;
}

.player-header {
  /* outline: 1px solid orange; */
  height: 48px;
  margin: 0 0 0 48px;
  display: flex;
  align-items: center;
}

.row-letter {
  margin: 0;
  font-weight: 500;
  /* outline: 1px solid orange; */
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-nums-div {
  margin: 0;
  font-weight: 500;
  /* outline: 1px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-num {
  margin: 0;
  /* outline: 1px solid orange; */
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-row {
  display: flex;
}

.cell {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  /* cursor: pointer; */
  height: 48px;
  width: 48px;
}

#countdown {
  display: inline-block;
  margin-top: 8px;
}

dialog {
  border-radius: 24px;
  padding: 24px 48px;
  border: none;
  background-color: var(--ship, darkslategrey);
  color: white;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

dialog h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  background-color: black;
  color: white;
  gap: 4px;
  padding: 28px 0;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.25);
}

footer > * {
  margin: 0;
  display: flex;
  gap: 24px;
}   

footer p {
  align-items: flex-end;
  font-size: 1.1rem;
}

footer svg {
  color: white;
}